
.container{
    background-color: white;
    position: relative;
    height: 100vh;
}

.wrapper{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.card{
    width: 40%;
    margin: auto;
    max-width: 800px;
    min-width: 400px;
}

.brandLogo{
    background-color: #2c27c5;
    width: 20%;
    height: auto;
    min-width: 50px;
    padding: 10px;
}

h2{
    margin-bottom: 0;
}

.fa{
    cursor: pointer;
}

mat-form-field{
    width: 100%;
}

button{
    outline: none;
    color: #2c27c5;
}

.alert{
    width: 80%;
    margin: 2.5em auto 0 auto;
}

@media(max-width: 600px){

    .card{
        min-width: 300px;
    }
}
