.container{
  margin: 5vh 0;
}

mat-form-field{
  margin: 10px 20px;
}

ul{
    list-style: none;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
}

li{
    background-color: grey;
    color: white;
    padding: 20px;
    border-radius: 5px;
    width: auto;
    margin: 15px;
    font-size: large;
    box-shadow: 1px 2px 2px black;
}

@media(max-width: 500px){
    li{
        padding: 10px;
        border-radius: 5px;
    }
}