<div class="container">

  <h1>Angular Material 
    <small>(Demonstration)</small>
  </h1>

  <mat-tab-group>
    <mat-tab label="Paginator">
      <paginator></paginator>
    </mat-tab>
    <mat-tab label="Toolbar">
      <toolbar></toolbar>
    </mat-tab>
    <mat-tab label="Expansion Panel">
      <expansion-panel></expansion-panel>
    </mat-tab>
    <mat-tab label="Spinner">
      <spinner></spinner>
    </mat-tab>
    <mat-tab label="Snackbar">
      <snackbar></snackbar>
    </mat-tab>
    <mat-tab label="Autocomplete">
      <autocomplete></autocomplete>
    </mat-tab>

  </mat-tab-group>
</div>
