mat-expansion-panel-header, mat-panel-description{
  justify-content: space-between;
  align-items: center;
}

mat-expansion-panel{
  width: 80%;
  margin: 20px auto;
}

mat-form-field{
  margin-left: 10px;
}

@media(max-width: 500px){
  mat-expansion-panel{
    width: 100%;
  }
}